In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from bs4 import BeautifulSoup
import pandas as pd
import time

In [2]:
system_name = "Pentaari"
location = "Greece"
base_url = "https://pvoutput.org/list.jsp?p={}&id=49186&sid=74198&gs=0&v=0&o=date&d=desc"
pages_to_scrape = 5

In [3]:
options = Options()
options.binary_location = r"C:\Program Files\chrome for testing\chrome-win64\chrome.exe"
options.add_argument("--headless=new")
options.add_argument("--disable-gpu")
options.add_argument("--window-size=1920,1080")
options.add_argument("user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36")
service = Service(executable_path=r"C:\Program Files\chrome for testing\chrome-win64\chromedriver.exe")
driver = webdriver.Chrome(service=service, options=options)

In [4]:
all_data = []

for page in range(pages_to_scrape):
    url = base_url.format(page)
    print(f"üìÑ Scraping page {page + 1} from: {url}")
    
    try:
        driver.get(url)
        time.sleep(6)
        soup = BeautifulSoup(driver.page_source, "html.parser")
        table = soup.find("table", id="tbl_main")

        if not table:
            print(f"‚ö†Ô∏è No table found on page {page + 1}. Retrying once...")
            time.sleep(5)
            driver.get(url)
            soup = BeautifulSoup(driver.page_source, "html.parser")
            table = soup.find("table", id="tbl_main")

        if table:
            rows = table.find_all("tr")[1:]
            for row in rows:
                cols = [td.get_text(strip=True).replace(',', '') for td in row.find_all("td")]
                if len(cols) >= 9:
                    cols.append(system_name)
                    cols.append(location)
                    all_data.append(cols)
        else:
            print(f"‚ùå Failed again: No table found on page {page + 1}")
    except Exception as e:
        print(f"üö® Error scraping page {page + 1}: {e}")

driver.quit()

üìÑ Scraping page 1 from: https://pvoutput.org/list.jsp?p=0&id=49186&sid=74198&gs=0&v=0&o=date&d=desc
üìÑ Scraping page 2 from: https://pvoutput.org/list.jsp?p=1&id=49186&sid=74198&gs=0&v=0&o=date&d=desc
üìÑ Scraping page 3 from: https://pvoutput.org/list.jsp?p=2&id=49186&sid=74198&gs=0&v=0&o=date&d=desc
üìÑ Scraping page 4 from: https://pvoutput.org/list.jsp?p=3&id=49186&sid=74198&gs=0&v=0&o=date&d=desc
üìÑ Scraping page 5 from: https://pvoutput.org/list.jsp?p=4&id=49186&sid=74198&gs=0&v=0&o=date&d=desc

In [5]:
header = [
    "Date", "Generated", "Efficiency", "Exported", "Peak Power",
    "Peak Time", "Conditions", "Temperature", "Comments",
    "System Name", "Location"
]

In [6]:
df = pd.DataFrame(all_data, columns=header)
df.drop(columns=["Exported", "Temperature", "Comments", "Peak Power", "Peak Time", "Conditions"], inplace=True)
print(df.head())

       Date    Generated   Efficiency System Name Location
0  31/03/25     1.000kWh  0.002kWh/kW    Pentaari   Greece
1  30/03/25  1198.000kWh  2.374kWh/kW    Pentaari   Greece
2  29/03/25   978.000kWh  1.938kWh/kW    Pentaari   Greece
3  28/03/25  2651.000kWh  5.252kWh/kW    Pentaari   Greece
4  27/03/25  1150.000kWh  2.278kWh/kW    Pentaari   Greece

In [7]:
page6 = pd.read_csv("Pentaari_page6.csv")
page7 = pd.read_csv("Pentaari_page7.csv")
page8 = pd.read_csv("Pentaari_page8.csv")
page9 = pd.read_csv("Pentaari_page9.csv")
page10 = pd.read_csv("Pentaari_page10.csv")

In [8]:
page6["System Name"] = "Pentaari"
page6["Location"] = "Greece"
page7["System Name"] = "Pentaari"
page7["Location"] = "Greece"
page8["System Name"] = "Pentaari"
page8["Location"] = "Greece"
page9["System Name"] = "Pentaari"
page9["Location"] = "Greece"
page10["System Name"] = "Pentaari"
page10["Location"] = "Greece"

In [9]:
master_df = pd.concat([df, page6, page7, page8, page9, page10], ignore_index=True)

In [10]:
master_df

          Date    Generated   Efficiency System Name Location
0     31/03/25     1.000kWh  0.002kWh/kW    Pentaari   Greece
1     30/03/25  1198.000kWh  2.374kWh/kW    Pentaari   Greece
2     29/03/25   978.000kWh  1.938kWh/kW    Pentaari   Greece
3     28/03/25  2651.000kWh  5.252kWh/kW    Pentaari   Greece
4     27/03/25  1150.000kWh  2.278kWh/kW    Pentaari   Greece
..         ...          ...          ...         ...      ...
395   3/1/2024         0.08     0.000158    Pentaari   Greece
396  2/29/2024       1285.0      2.54589    Pentaari   Greece
397  2/28/2024        403.0     0.798439    Pentaari   Greece
398  2/27/2024       2261.0     4.479578    Pentaari   Greece
399  2/26/2024        719.0      1.42451    Pentaari   Greece

[400 rows x 5 columns]

In [11]:
master_df["System Size (kW)"] = 504.375

In [12]:
master_df.to_csv("daily_Pentaari_master.csv", index=False)