In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from bs4 import BeautifulSoup
import pandas as pd
import time

In [33]:
system_name = "MAWC"
location = "Maldives"
base_url = "https://pvoutput.org/list.jsp?p={}&id=47770&sid=43531&gs=0&v=0&o=date&d=desc"
pages_to_scrape = 5

In [39]:
options = Options()
options.binary_location = r"C:\Program Files\chrome for testing\chrome-win64\chrome.exe"
options.add_argument("--headless=new")
options.add_argument("--disable-gpu")
options.add_argument("--window-size=1920,1080")
options.add_argument("user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36")
service = Service(executable_path=r"C:\Program Files\chrome for testing\chrome-win64\chromedriver.exe")
driver = webdriver.Chrome(service=service, options=options)

In [40]:
all_data = []

for page in range(pages_to_scrape):
    url = base_url.format(page)
    print(f"üìÑ Scraping page {page + 1} from: {url}")
    
    try:
        driver.get(url)
        time.sleep(6)
        soup = BeautifulSoup(driver.page_source, "html.parser")
        table = soup.find("table", id="tbl_main")

        if not table:
            print(f"‚ö†Ô∏è No table found on page {page + 1}. Retrying once...")
            time.sleep(5)
            driver.get(url)
            soup = BeautifulSoup(driver.page_source, "html.parser")
            table = soup.find("table", id="tbl_main")

        if table:
            rows = table.find_all("tr")[1:]
            for row in rows:
                cols = [td.get_text(strip=True).replace(',', '') for td in row.find_all("td")]
                if len(cols) >= 9:
                    cols.append(system_name)
                    cols.append(location)
                    all_data.append(cols)
        else:
            print(f"‚ùå Failed again: No table found on page {page + 1}")
    except Exception as e:
        print(f"üö® Error scraping page {page + 1}: {e}")

driver.quit()

üìÑ Scraping page 1 from: https://pvoutput.org/list.jsp?p=0&id=47770&sid=43531&gs=0&v=0&o=date&d=desc
üìÑ Scraping page 2 from: https://pvoutput.org/list.jsp?p=1&id=47770&sid=43531&gs=0&v=0&o=date&d=desc
üìÑ Scraping page 3 from: https://pvoutput.org/list.jsp?p=2&id=47770&sid=43531&gs=0&v=0&o=date&d=desc
üìÑ Scraping page 4 from: https://pvoutput.org/list.jsp?p=3&id=47770&sid=43531&gs=0&v=0&o=date&d=desc
üìÑ Scraping page 5 from: https://pvoutput.org/list.jsp?p=4&id=47770&sid=43531&gs=0&v=0&o=date&d=desc

In [43]:
header = [
    "Date", "Generated", "Efficiency", "Exported", "Peak Power",
    "Peak Time", "Conditions", "Temperature", "Comments",
    "System Name", "Location"
]

In [45]:
df = pd.DataFrame(all_data, columns=header)
df.drop(columns=["Exported", "Temperature", "Comments", "Peak Power", "Peak Time", "Conditions"], inplace=True)
print(df.head())

       Date    Generated   Efficiency System Name  Location
0  31/03/25     0.000kWh  0.000kWh/kW        MAWC  Maldives
1  30/03/25  1433.968kWh  3.417kWh/kW        MAWC  Maldives
2  29/03/25  1947.200kWh  4.640kWh/kW        MAWC  Maldives
3  28/03/25   634.879kWh  1.513kWh/kW        MAWC  Maldives
4  27/03/25  1898.824kWh  4.525kWh/kW        MAWC  Maldives

In [47]:
page6 = pd.read_csv("MAWC_page6.csv")
page7 = pd.read_csv("MAWC_page7.csv")
page8 = pd.read_csv("MAWC_page8.csv")
page9 = pd.read_csv("MAWC_page9.csv")
page10 = pd.read_csv("MAWC_page10.csv")

In [49]:
page6["System Name"] = "MAWC"
page6["Location"] = "Maldives"
page7["System Name"] = "MAWC"
page7["Location"] = "Maldives"
page8["System Name"] = "MAWC"
page8["Location"] = "Maldives"
page9["System Name"] = "MAWC"
page9["Location"] = "Maldives"
page10["System Name"] = "MAWC"
page10["Location"] = "Maldives"

In [51]:
master_df = pd.concat([df, page6, page7, page8, page9, page10], ignore_index=True)

In [53]:
master_df

          Date    Generated   Efficiency System Name  Location
0     31/03/25     0.000kWh  0.000kWh/kW        MAWC  Maldives
1     30/03/25  1433.968kWh  3.417kWh/kW        MAWC  Maldives
2     29/03/25  1947.200kWh  4.640kWh/kW        MAWC  Maldives
3     28/03/25   634.879kWh  1.513kWh/kW        MAWC  Maldives
4     27/03/25  1898.824kWh  4.525kWh/kW        MAWC  Maldives
..         ...          ...          ...         ...       ...
395   3/1/2024   553.645kWh     1.319365        MAWC  Maldives
396  2/29/2024  1684.881kWh     4.015159        MAWC  Maldives
397  2/28/2024  1920.269kWh       4.5761        MAWC  Maldives
398  2/27/2024  1759.329kWh     4.192572        MAWC  Maldives
399  2/26/2024  2061.171kWh     4.911877        MAWC  Maldives

[400 rows x 5 columns]

In [55]:
master_df["System Size (kW)"] = 419.630

In [57]:
master_df.to_csv("daily_MAWC_master.csv", index=False)